.red-border {
    border-top-color: #e30922;
}

.blue-border {
    border-top-color: #134391;
}

.bootstrapEditor {
    width: 100% !important;
    height: 200px !important;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}