.table-sort-handle {
    width: 20px;
    text-align: center;
    cursor: row-resize;
}

.table-thumbnail {
    width: 100px;
}

.table-actions {
    width: 300px;
    text-align: center;
}

.table-status {
    width: 180px;
    text-align: center;
}

